
#loading{
  width: 100%;
  height: 100%;
  background: rgb(233, 199, 7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center
}

#loading_logo{
  position: fixed;
  top: 40%;
  left: 40%;
  margin:auto
}

.sake2{
  height: 100px;
  width: 100px;
  animation: pyon 0.3s linear;
  position: relative;
}

@keyframes pyon {
  0% {top: 0}
  50% {top:-17px}
  100%{top: 0}
}

/*-----------------------header装飾---------------------------- */

.header{
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    overflow: hidden;
}

.sake{
    height: 70px;
    width: 70px;
    animation: ugoku-anime 8s linear infinite ;
}

@keyframes ugoku-anime {
    0% {
        transform: translateX(0)rotate(0);
    }

    50%  {
        transform: translateX(1300px);
    }

    100%{
        transform: translateX(0)rotate(0);
    }
  }
@keyframes anime {
    0% {
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
  }

/*-------------familymartのheader装飾------------------------- */

.famima{
    height: 70px;
    width: 70px;
    background-image: url('./img/konnbini2_transparent.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3px 0;
}

.header_color_famima{
    width: 100%;
    height: 3vh;
    background-color: rgb(26, 177, 6);
}

.header_color2_famima{
    width: 100%;
    height: 3vh;
    background-color: rgb(50, 186, 240);
}

.line{
  margin-bottom: 10px;
}

/*--------------------------------------------------------- */

/* --------------------------セブンイレブン----------------------- */

.header_color_seven{
    width: 100%;
    height: 3vh;
    background-color: orange;
}

.seven{
    height: 70px;
    width: 70px;
    background-image: url('./img/konnbini.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3px 0;
}

.header_color2_seven{
    width: 100%;
    height: 3vh;
    border-top: solid green 10px;
    background-color: red;
}

/* .kara{
    height: 90px;
    width: 90px;
    transform: translateX(100px) translateY(-160px);
    z-index: 10000;
} */

/*-------------LOSONのheader装飾-------------------------- */
.loson{
    height: 70px;
    width: 70px;
    background-image: url('./img/konnbini3_transparent.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3px 0;
}

.header_color_loson{
    width: 100%;
    height: 3vh;
    background-color: rgb(6, 72, 253);
}

.header_color2_loson{
    width: 100%;
    height: 3vh;
    background-color: rgb(6, 72, 253);
    border-bottom: solid rgb(250, 104, 141) 5px;
}

/*--------------------------------------------------------- */

.position{
    height: 30vh;
    overflow: hidden;
}
/*----------------------familymartのFooter-------------------------- */

.footer_famima{
    height: 10vh;
    background-color: rgb(26, 177, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.famitiki_dance{
    height: 200px;
    width: auto;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-name: jump;
    animation-duration: .6s;
  }
  
  @keyframes jump{
    0%   { transform:translate(0%, 60px) rotateX(50deg); }
    100% { transform:translate(0%, 0%); }
  }

.famitiki{
    height: 200px;
    width: auto;
    transform: translateY(500px);
}

.thank{
    height: 100px;
    width: auto;
    margin: 0 40px;
    transform: translateY(500px);
}

.thank_pyon{
    height: 100px;
    width: auto;
    margin: 0 40px;
    transform: translateY(0);
    transition: all .5s ease;
}

/* ----------------LOSONのFooter------------------------------ */

.footer_loson{
    height: 10vh;
    background-color: rgb(6, 72, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* -------------------footer----------------------------------- */

.footer div{
    flex-direction: column;
    align-items: center;
}

.coment{
    margin-top: 10px;
    font-family: 'Kosugi Maru', sans-serif;
    color: white;
    font-size: 15px;
}

.btn_img{
    display: block;
    margin: 10px 100px;
}

.btn_img img{
    height: 25px;
    width: 25px;
    margin: 0 5px;
}

/* --------------------------LOWSONstaff-------------------------- */
.staff{
    height: 200px;
    width: 200px;
    transform: translateY(120%) translateX(10%);
}

.staff_come{
    height: 200px;
    width: 200px;
    transform: translateY(20%) translateX(10%);  
    transition: all 2s ease;
}
/* -------------------------Sevenのfooter------------------------------- */

.footer_seven{
    height: 10vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nanako{
    height: 200px;
    width: auto;
    transform: translateX(100vw);

}

.nanako_walk{
    height: 200px;
    width: auto;
    transform: translateX(-1800px);
    transition: all 10s ease;
}

/* ------------------------------レスポンシブ対応------------------------------- */

@media screen and (max-width: 790px){

  .staff{
    height: 200px;
    width: 200px;
    transform: translateY(100vw) translateX(10%);
}

.staff_come{
    height: 200px;
    width: 200px;
    transform: translateY(10%) translateX(10%);  
    transition: all 2s ease;
}

#loading_logo{
  position: fixed;
  top: 50%;
  left: 25%;
  margin:auto
}

.sake2{
  height: 80px;
  width: 80px;
  animation: pyon 0.3s linear;
  position: relative;
}
  
}

/* ------------------------------仮-------------------------------------------- */

main{
    height: 650px;
    width: 100vw;
    position: relative;
  }
  .first{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .first:nth-of-type(1){
    z-index: 3;
  }
  .first:nth-of-type(2){
    z-index: 2;
    /* display: none; */
  }
  .first:nth-of-type(3){
    z-index: 1;
    /* display: none; */
  }
  .firstContent{
    width: 650px;
    height: 650px;
    position: relative;
  }
  .img1{
    width: 100%;
    height: 100%;
  }
  .scr1{
    width: 500px;
    height: 100px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    top: 81%;
    left: 11%;
  }
  p{
    padding-left: 15px;
    margin-top: 16px;
  }
  .secondContent{
    width: 650px;
    height: 650px;
    position: relative;
  }
  .result{
    position: absolute;
    top: 5%;
    width: 200px;
    height: 200px;
  }
  .result>img{
    width: 100%;
    height: auto;
    animation: okashi 1s linear alternate infinite;
  }
  @keyframes okashi{
    0%{
      transform: translateY(0px)rotate(-45deg);
    }
    50%{
      transform: translateY(50px)rotate(0deg);
    }
    100%{
      transform: translateY(0px)rotate(45deg);
    }
  }
  .display{
    position: absolute;
    top: 49%;
    left: 9%;
    width: 125px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .price{
    font-size: 20px;
  }

